/* Some resets, based on:
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
 *  Custom Styles
 */

html {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Libre Baskerville', Palatino, Times, serif;
  font-size: 16px;
  color: black;
  line-height: 1.7;
  margin: 0 auto;
}

code, pre {
  font-family: 'Roboto Mono', monospace;
}

code {
  display: inline;
  padding: 0px 2px;
  color: inherit;
  background: none;
}

pre {
  border-radius: 0;
  border: 0;
  margin: .5em 0;
  padding: 1em;
  line-height: 1.5;
  overflow-x: auto;
}

p > code {
  line-height: 0;
}

a:link {
  color: black;
}
a:hover,
a:active {
  color: #333;
  text-decoration: none;
}
a:visited {
  color: #666;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
  line-height: 1.1;
}

h1 {
  margin: .75em 0;
  font-size: 220%;
}
h2 {
  margin: 1em 0;
  font-size: 160%;
}
h3, h4 {
  margin: 17px 0;
  line-height: 34px;
  font-size: 130%;
}

dt {
  font-style: italic;
  font-weight: 400;
}
dd {
  padding-left: 2em;
}

p {
  margin: 1em 0;
}

/* Hack to ensure inline elements with different fonts don't affect
 * line height.
 */
p > code,
p > em,
p > strong {
}

blockquote {
  border-left: 5px solid #ddd;
  padding: 0 1em;
  font-size: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  width: 100%;
  /* Hack to override Sphinx's border="1" */
  border: 0px transparent;
}

ul, ol {
	padding: 0 .5em 0 1.5em;
	border: 0;
}
li {
  margin: .5em;
}

em {
  font-style: italic;
}

div.related {
  font-size: 100%;
}
.related:after {
  display: block;
  content: '';
  clear: both;
}
div.related ul {
  padding: 0;
  margin: 0;
}

.breadcrumbs {
  padding: 1em 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #444;
  border-bottom: 2px solid black;
}
.breadcrumbs ul {
  list-style-type: none;
}
.breadcrumbs a {
  color: #444;
  text-decoration: none;
}
.breadcrumbs li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
.breadcrumbs li:last-child {
  color: #888;
}
.breadcrumbs li:after {
  display: inline-block;
  content: '\00BB';
  margin: 0 .25em;
}
.breadcrumbs li:last-child:after {
  display: none;
  content: '';
}

.bottom-nav {
  padding: 1em 0;
  border-top: 2px solid black;
  font-family: 'Source Sans Pro', sans-serif;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  color: #444;
}
.bottom-nav > div {
  color: inherit;
}
.bottom-nav a {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  margin-bottom: .5em;
}
.bottom-nav .center {
  -webkit-flex: 1 0 20%;
  -ms-flex: 1 0 20%;
  flex: 1 0 20%;
  text-align: center;
}
.bottom-nav a {
  display: block;
  text-decoration: none;
}
.bottom-nav a:link,
.bottom-nav a:visited {
  color: #111;
}
.bottom-nav a:hover,
.bottom-nav a:active {
  color: #1C01CE;
}
.bottom-nav .next-page {
  -webkit-flex: 1 0 40%;
  -ms-flex: 1 0 40%;
  flex: 1 0 40%;
  text-align: right;
}
.bottom-nav .previous-page {
  -webkit-flex: 1 0 40%;
  -ms-flex: 1 0 40%;
  flex: 1 0 40%;
}

.footer {
  width: 80%;
  margin: 2em auto 0;
  padding: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  color: #888;
}
.footer ul {
  list-style-type: none;
}
.footer li {
  display: inline-block;
  margin: 0;
}
.footer li:after {
  content: ' \2014 ';
}
.footer li:last-child:after {
  content: '';
  margin: 0;
}
.footer a {
  text-decoration: underline;
  color: inherit;
}
.footer a:hover {
  color: #666;
}

.footer-wrapper {
  text-align: center;
}

.document {
  margin: 0 auto;
}
.document .documentwrapper {
  margin: 0;
}
.document .bodywrapper {
  position: relative;
  background: #fff;
  padding: 40px 40px;
  max-width: 800px;
  margin: 0 auto;
}
.document .bodywrapper .body,
.document .bodywrapper .toctree-wrapper {
  font-size: 18px;
}

.document .bodywrapper .body {
  padding-bottom: 2em;
}
.document.cover-page .bodywrapper .body {
  margin: 0 auto;
}

.toctree-wrapper ul {
}
.cover-page .toctree-wrapper ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.toctree-wrapper a {
  text-decoration: none;
}

.toctree-wrapper a:hover,
.toctree-wrapper a:active {
  text-decoration: underline;
}

.toctree-wrapper .toctree-l1  {
  margin: .25em 0;
}
.cover-page .toctree-wrapper .toctree-l1 {
  margin: 1em 0;
}
.toctree-wrapper .toctree-l1 ul {
  margin-top: .5em;
}
.cover-page .toctree-wrapper .toctree-l1 > a {
  font-size: 125%;
  font-weight: 600;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #111;
}
div.body .toctree-wrapper p.caption {
  font-size: 160%;
  font-weight: 600;
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: normal;
}

.toctree-wrapper ul li a {
  display: block;
}
.toctree-wrapper ul ul li a {
  font-weight: normal;
  margin-left: 1em;
}

.toctree-wrapper a.current.reference {
  background: #dddddd;
  color: #3c763d;
}

.sphinxsidebar .search-wrapper {
  padding: 0 20px;
  margin-top: 20px;
}

.sphinxsidebar .search-wrapper input {
  width: 100%;
  padding: .25em;
  background: #fff;
}

.highlighted {
  background: yellow;
}

@media screen and (max-width: 360px) {
  .document .bodywrapper {
    padding: 20px;
  }
}

div.figure {
  margin: 2em 2em;
  text-align: center;
  font-size: 90%;
}
div.body p.caption {
  margin-top: 16px;
  font-style: italic;
}
.caption-number {
  margin-right: .25em;
}
.no-number .caption-number {
  display: none;
}

p.rubric {
  margin: 16px 0;
  font-weight: 400;
  font-style: italic;
  font-size: 20px;
  color: #444;
}

.align-right,
img.align-right,
.figure.align-right,
object.align-right {
  margin: 0 0 32px 32px;
  float: right;
}

.headerlink {
  display: none;
  margin-left: .25em;
}

h1:hover > .headerlink,
h2:hover > .headerlink,
h3:hover > .headerlink,
h4:hover > .headerlink,
h5:hover > .headerlink,
h6:hover > .headerlink {
  display: inline;
}

.document {
  font-size: inherit;
}

.admonition {
  margin: 0;
  padding: 1em 3em;
}

.admonition > * {
  font-size: 80%;
}
.admonition p {
  margin: 0 0 .5em;
}
.admonition .admonition-title {
  position: relative;
  line-height: 1.5em;
  margin: 0 0 .5em;
  font-size: 100%;
  font-weight: 600;
  font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
.admonition-todo + .todo-source {
  padding: 0 1em 1em;
  margin: -1rem 0 1rem 0;
}
.admonition .admonition-title:before {
  position: absolute;
  top: 0;
  left: -2.5em;
  display: block;
  width: 1.5em;
  height: 1.5em;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('icons/info-circle.svg');
  content: '';
}
.admonition-todo .admonition-title {
  color: #ff4444;
}
.admonition-todo .admonition-title:before {
  background-image: url('icons/check-circle-o.svg');
}
.admonition.warning .admonition-title:before {
  background-image: url('icons/exclamation-triangle.svg');
}

/* Cover Page */

.cover-page .bodywrapper {
  margin: 0 auto;
}
.cover-page .header {
  margin: 8rem 0;
  text-align: center;
}
.cover-page .header h1 {
  font-size: 250%;
}
.cover-page .header .subtitle {
  font-size: 130%;
}
.cover-page h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 100%;
  padding: 1em;
  border-bottom: 2px solid black;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 3rem;
}

/* Cover Page Other Formats */

.cover-page .other-formats {
  margin: 4rem 0;
  text-align: center;
  font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
}
.cover-page .other-formats ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.cover-page .other-formats li {
  flex: 1 1 33%;
  min-width: 150px;
  margin: 0;
  padding: 1em;
}
.cover-page .other-formats ul:after {
  display: block;
  clear: both;
  content: '';
}
.cover-page .other-formats a {
  display: block;
  text-decoration: none;
}
.cover-page .other-formats a:hover,
.cover-page .other-formats a:active {
  text-decoration: underline;
}
.cover-page .other-formats .icon {
  display: block;
  margin: 0 auto .5em;
}
.cover-page .other-formats .name {
}

@media screen and (max-width: 700px) {
  pre {
    margin-left: -40px;
    margin-right: -40px;
    background: #f7f7f7;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
}
@media screen and (max-width: 360px) {
  pre {
    margin-left: -20px;
    margin-right: -20px;
  }
}
@media screen and (max-width: 600px) {
  body {
    font-size: 15px;
  }
  .document .bodywrapper .body,
  .document .bodywrapper .toctree-wrapper {
    font-size: 16px;
  }
}
@media screen and (max-width: 400px) {
  body {
    font-size: 14px;
  }
  .document .bodywrapper .body,
  .document .bodywrapper .toctree-wrapper {
    font-size: 14px;
  }
}
