@font-face{
    font-family: 'Source Code Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('res://OTF/SourceCodePro-Regular.otf') format('opentype'),
         url('res://TTF/SourceCodePro-Regular.ttf') format('truetype');
}
