{% extends "base.html" %}

{%- from "relbar.html" import relbar_top with context %}

{%- block sidebartoc %}
{% if pagename != master_doc %}
{% include "page-sidebar.html" %}
{% endif %}
{%- endblock %}

{%- block content %}
  {%- block sidebar1 %} {# possible location for sidebar #} {% endblock %}

  <div class="document{% if pagename == master_doc %} cover-page{% endif %}">
    {%- block document %}
    <div class="documentwrapper">
      <div class="bodywrapper">
          {% if pagename != master_doc and pagename != 'search' %}
          <div class="breadcrumbs">
              <div class="breadcrumbs-wrapper">
                  {{ relbar_top() }}
              </div>
          </div>
          {% endif %}

        <div class="body" role="main">
          {% if pagename == master_doc %}
          <div class="header">
            <img alt="{{ project|e }} logo image."
                width="100"
                height="113"
                src="{{ pathto('_static/logo@1x.png', 1) }}"
                srcset="{{ pathto('_static/logo@1x.png', 1) }} 1x,
                        {{ pathto('_static/logo@2x.png', 1) }} 2x" />
            <h1>{{ _(title) }}</h1>
            <p class="subtitle">{{ _(theme_subtitle) }}</p>
          </div>
          <div class="toctree-wrapper">
            <h2 id="read-online">Read Online</h2>
            {{ toctree(collapse=False, maxdepth=2, includehidden=True) }}
          </div>
          <nav class="other-formats" id="downloads">
            <h2>Downloads</h2>
            <ul>
              <li>
                <a href="{{ pathto('migreat.pdf', 1) }}">
                  <img class="icon"
                      width="72px"
                      height="72px"
                      src="{{ pathto('_static/icons/file-pdf-o.svg', 1) }}"
                      alt="Book icon">
                  <span class="name">PDF (A4)</span>
                </a>
              </li>
              <li>
                <a href="{{ pathto('migreat-ebook.pdf', 1) }}">
                  <img class="icon"
                      width="72px"
                      height="72px"
                      src="{{ pathto('_static/icons/mobile.svg', 1) }}"
                      alt="E-reader icon">
                  <span class="name">PDF (E-Book)</span>
                </a>
              </li>
              <li>
                <a href="{{ pathto('migreat.epub', 1) }}">
                  <img class="icon"
                      width="72px"
                      height="72px"
                      src="{{ pathto('_static/icons/book.svg', 1) }}"
                      alt="E-reader icon">
                  <span class="name">EPUB (Experimental)</span>
                </a>
              </li>
            </ul>
          </nav>
          {% else %}
            {% block body %}{% endblock %}
          {% endif %}
        </div>

        {% if pagename != master_doc and pagename != 'search' %}
        <div class="bottom-nav">
          <div class="previous-page">
            {% if prev %}
            <a href="{{ prev.link|e }}" title="Navigate to previous page, titled &quot;{{ prev.title|e }}&quot;">
              Previous
            </a>
            {% endif %}
          </div>
          <div class="center">
            <div class="chapter">
              {%- for parent in parents %}
              <a href="{{ parent.link }}">Chapter</a>
              {%- endfor -%}
            </div>
            <div class="top">
              <a href="{{ pathto(master_doc) }}#read-online">Top</a>
            </div>
          </div>
          <div class="next-page">
            {% if next %}
            <a href="{{ next.link|e }}" title="Navigate to next page, titled &quot;{{ next.title|e }}&quot;">
                Next
            </a>
            {% endif %}
          </div>
        </div>
        {% endif %}


        <footer class="footer" role="contentinfo">
          <div class="footer-wrapper">
            <ul>
              <li><a href="{{ pathto(master_doc) }}#downloads">Downloads</a></li>
              <li><a rel="license" href="{{ pathto('introduction/license') }}">License</a></li>
            </ul>
            <div>
              <span class="version">{{ version }} &mdash;</span>
              <span>
                <a href="https://bitbucket.org/owickstrom/migreat/raw/master/src/{{ pagename }}.rst">Page Source Code</a>
              </span>
            </div>
            <div>Copyright &copy; 2017 <a href="https://wickstrom.tech">{{ copyright }}</a></div>
          </div>
        </footer>

      </div>
    </div>
    {%- endblock %}

    {%- block sidebar2 %}
    {% endblock %}
  </div>
{%- endblock %}
