<header>
  <a href="{{ pathto(master_doc) }}">
    <img alt="{{ project|e }} logo image."
        width="100"
        height="113"
        src="{{ pathto('_static/logo@1x.png', 1) }}"
        srcset="{{ pathto('_static/logo@1x.png', 1) }} 1x,
                {{ pathto('_static/logo@2x.png', 1) }} 2x" />
    <div class="title">{{ project }}</div>
  </a>
</header>
<div class="toctree-container">
{{ toctree(collapse=False, maxdepth=2, titles_only=True, includehidden=True) }}
</div>
