{%- macro breadcrumbs_markup() %}
  <nav id="breadcrumbs">
    <ul>
      {%- block rootrellink %}
      <li><a href="{{ pathto(master_doc) }}">{{ shorttitle }}</a></li>
      {%- endblock %}
      {%- for parent in parents %}
      <li>
        <a href="{{ parent.link|e }}">{{ parent.title  }}</a>
      </li>
      {%- endfor %}

      {% if pagename != master_doc and pagename != 'search' %}
      <li>
        {{ title }}
      </li>
      {% endif %}

      {%- block relbaritems %}{% endblock %}
    </ul>
  </nav>
{%- endmacro %}

{%- macro relbar_top() %}
  <div class="related top">
    {{- breadcrumbs_markup () }}
  </div>
{%- endmacro %}
