<form action="{{ pathto('search') }}" method="get">
  <input type="text" name="q" class="form-control" placeholder="Search" />
  <input type="hidden" name="check_keywords" value="yes" />
  <input type="hidden" name="area" value="default" />
</form>
